[submodule "MacroLibX"]
	path = MacroLibX
	url = https://github.com/seekrs/MacroLibX.git
[submodule "libft"]
	path = libft
	url = https://github.com/bonsthie/libft.git
[submodule "amusement"]
	path = amusement
	url = https://github.com/yroussea/amusement.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/bonsthie/ft_printf.git
